<app-navbar></app-navbar>

<div class="container" id="landing">
    <h1 class="about__title"> Who we Are</h1>
    <div class="about">
        <p>We're a young, bright and proudly Kenyan-owned and -run company which provides solar solutions, supply and
            installation of solar products.
            We are certified by the
            Energy Regulatory Commission (ERC) as well as The National Construction Authority (NCA).
        </p>
    </div>
</div>
<div class="container-fluid">
    <br> <br> <br>
    <h2>Mission Statement</h2>
    <div class="mission">
        <p>
            ZIDI, as the name suggests means "more". In nutshell, customers are getting VALUE of the
            finances they are investing in Soar. After keenly analyzing the current products in the market,
            the initial great & humble idea was to give fellow Africans something to smile about.
            Something they can be proud of. As proud of it as we are,KEBS, the top notch quality validating
            organization, validated our path and gave us their firm commitment to support us for the long
            term. </p>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3> <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="" stroke-width="3" fill="#0B6BA2" fill-opacity="0.88" />
                    Sorry, your browser does not support inline SVG.
                </svg> Our Vision</h3>
            <div class="vision">
                <p>ZIDI is a Solar All-In-one system that has been designed, developed & assembled locally here in
                    Kenya. The Solar kit relates to the invention of an entertainment Solar All-In-one system which
                    combines many functions and advantages. The device combines many functions into a compact
                    unit. These functions include; entertainment, wireless Bluetooth connectivity, high quality
                    sound, lighting source and a power bank with USB charging facility, solar charging via solar
                    Photovoltaic (PV) module; integrated Maximum Power Point Tracking (MPPT) charge control;
                    high efficiency Lithium-Ion rechargeable battery; high quality sound playback via FM Radio,
                    USB, TF/SD Card, AUX and BluetoothTM; power bank facility in charging via USB port; BluetoothTM
                    connectivity including A2DP and AVRCP; & high efficiency LED lighting.</p>
            </div> <br><br>
        </div>
        <div class="col-md-5">
            <br><br><br>
            <div class="circle">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="" stroke-width="3" fill="#0B6BA2" fill-opacity="0.88" />
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <br><br><br><br><br><br>
            <svg width="259" height="259" viewBox="0 0 259 259" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="129.5" cy="129.5" r="129.5" fill="#0B6BA2" fill-opacity="0.88" />
            </svg>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="history" style="padding-left: 5%;">
                <h4 style="padding-top:6% ; padding-left: 15% ;">Our History</h4>
                <br>
                <br>
                <p>EOS Solar is Kenyan company focused on providing Solar power in the Residential, Remote-Offgrid,
                    Commercial, Industrial and Utility segments.
                    Our values hinge around enabling local talent and empowering Kenyans. We are going through a growth
                    phase and searching for talented,
                    aggressive professionals to join our local sales force.
                    We are strongly founded in the Engineering profession. We have proven success in the application of
                    Renewable Technologies,
                    from Solar Racing to Manufacturing in the Wind Energy sector to Telecommunications and Software.</p>
            </div>
        </div>
        <div class="col-md-6" style="background-color:#0B6BA2; ">
            <br><br>
            <h5 style="padding-left: 17%;">Our values</h5>
            <br><br>
            <div class="values" style="padding-left: 5%;">
                <ul>
                    <li>Affordability- Easy accessible by most consumers.
                    <li>
                    <li>Access to technology</li>
                    <li>Access to Lithium-Ion Deep Cycle Battery</li>
                </ul>
            </div>
        </div>
    </div>
    <br><br><br>
    <app-footer class="landing-page__footer"></app-footer>