<app-modal></app-modal>

<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our-Team </title>
</head>

<body style="font-family: Bebas Neue;">

  <div class="container-fluid">
    <div class="text-center" style="font-size: 40px;">OUR TEAM</div>

    <P style="color: white; font-family: Lato; text-align: center;font-size: 30px;margin-left: 20px;margin-right:20px;">
      Our consulting agency provides consulting, ideas, and resources for people working to
      create social change. We bring the right people together to challenge established thinking and drive
      transformation. We work with our clients to build the capabilities that enable organizations to achieve
      sustainable advantage.</P>

  </div>

  <div class="row" style="margin-left: 20px; margin-right:20px ;">
    <div class="column">
      <div class="card">
        <img src="assets/images/user1.png" alt="Benard" style="width:100%">
        <div class="container">
          <h2>Benard Bett</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Founder and coordinator of zidi company</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/user1.png" alt="James" style="width:100%">
        <div class="container">
          <h2>Daniel James</h2>
          <p class="title">Ux/Ui Designer</p>
          <p>He is the project designer of Zidi company.</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/user1.png" alt="Amos" style="width:100%">
        <div class="container">
          <h2>Amos Koech</h2>
          <p class="title">Back-end Developer</p>
          <p>He is the backend developer in zidi company</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="landing-page__footer"></app-footer>
</body>

</html>