<app-navbar></app-navbar>
<app-modal></app-modal>


<div class="landing-page__small-circle">
	<svg height="400" width="400">
        <ellipse cx="150" cy="150" rx="150" ry="150"
        style="fill:#C4C4C4;stroke: #C4C4C4;stroke-width:2" />
	</svg>
</div>
<div class="landing-page__large-circle">
	<svg height="1040" width="1040">
        <ellipse cx="360" cy="360" rx="360" ry="360"
        style="fill:#C4C4C4;stroke: #C4C4C4;stroke-width:2" />
	</svg>
</div>

<div class="landing-page">
	<div class="landing-page__titles">
		<h1 class="landing-page__title"><span class="landing-page__title--underlined">Solar</span> All-In-One Entertainment System</h1>
		<h2 class="landing-page__subtitle">Entertainment | Power-Bank | Lighting</h2>
	</div>
	<img class="landing-page__image" src="../assets/images/Front Render_User Manual Front Page.png">
	<div class="landing-page__buttons">
		<a class="landing-page__order-btn" routerLink="/order" routerLinkActive="activate">Order Now</a>
  </div>
  <hr>
  <app-technology></app-technology>
	<app-footer class="landing-page__footer"></app-footer>
</div>


